<form class="row g-3 card">
    <div class="custom-row">
        <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">Flight Number</label>
            <input type="number" ngModel name="flightNumber" class="form-control" id="flightNumber"
                placeholder="Flight Number">
        </div>
        <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">Flight Number</label>
            <input type="number" ngModel name="flightNumber" class="form-control" id="flightNumber"
                placeholder="Flight Number">
        </div>
    </div>
    <label for="inputPassword5" class="form-label">Airline</label>
    <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
</form>